# General
.DS_Store
*.log

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
build/

# IDE files
.idea/
.vscode/

# Sensitive files - IMPORTANT!
.env
*.env

# Android
/android/key.properties

# iOS
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework

# Python backend
/backend/venv/
/backend/__pycache__/
/backend/*.pyc

# Web
/web/